{{#question}}
<div class="t-tbl-block">
    <table class="dp-table rounded-3 overflow-hidden">
        <thead>
            <tr>
                <th></th>
                {{#columns}}
                    <th>{{w_letter}}</th>
                {{/columns}}
            </tr>
        </thead>
        <tbody>
            {{#rows}}
            <tr>
                <td>{{v_letter}}</td>
                {{#is_material}}
                    {{#data}}
                        <td class="{{#boolean}}highlight-true{{/boolean}}{{^boolean}}highlight-false{{/boolean}}">
                            {{value}}
                        </td>
                    {{/data}}
                {{/is_material}}
                {{^is_material}}
                {{#data}}
                    <td data-row="{{row_index}}" data-col="{{col_index}}" class="alignment-cell">
                        <div class="input-container" data-cell="{{name}}_{{row_index}}_{{col_index}}">
                            {{#path_only}}
                            <input type="number" step="any" name="{{name}}_{{row_index}}_{{col_index}}" 
                                class="form-control {{#boolean}}highlight-true{{/boolean}}{{^boolean}}highlight-false{{/boolean}}" 
                                onclick="this.select()"
                                value="{{value}}" placeholder="{{placeholder}}" readonly/>
                            {{/path_only}}
                            {{^path_only}}
                            <input type="number" name="{{name}}_{{row_index}}_{{col_index}}" 
                                class="form-control {{#boolean}}highlight-true{{/boolean}}{{^boolean}}highlight-false{{/boolean}}" 
                                onclick="this.select()"
                                value="{{value}}" placeholder="{{placeholder}}"/>
                            {{/path_only}}
                            <input type="hidden" class="bool-input" name="{{name}}_{{row_index}}_{{col_index}}_p" value="{{#boolean}}True{{/boolean}}{{^boolean}}False{{/boolean}}" />
                            <button id="highlight-button" type="button" class="btn btn-sm btn-highlight {{#boolean}}highlight-true{{/boolean}}{{^boolean}}highlight-false{{/boolean}}"
                                data-cell="{{name}}_{{row_index}}_{{col_index}}" 
                                onclick="highlightCell(this)">
                            <i class="bi bi-highlighter fa-xs"></i>
                            </button>
                        </div>
                    </td>
                {{/data}}
                {{/is_material}}
            </tr>
            {{/rows}}
        </tbody>
    </table> 
    <span class="input-group-append">
        {{#parse_error}}
            <a
                role="button"
                class="btn btn-light border d-flex align-items-center text-danger"
                data-toggle="popover"
                data-html="true"
                title="Format Error"
                data-placement="auto"
                data-trigger="focus"
                tabindex="0"
                data-content="{{parse_error}}"
            >
                <span class="mr-1">Invalid</span> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </a>
        {{/parse_error}}
    </span>
    {{^is_material}}
        <div style="display: flex; flex-direction: column; justify-content: center">
            {{#info}}
            <a role="button" class="btn btn-light border" data-toggle="popover" data-html="true" title="DP table" data-content="{{{info}}}" data-placement="auto" data-trigger="focus" tabindex="0">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
            </a>
            {{/info}}
            {{#correct}}
                <span class="badge badge-success badge-primary py-2"><i class="fas fa-check" aria-hidden="true"></i> 100%</span>
            {{/correct}}    
            {{#incorrect}}
                <span class="badge badge-danger badge-primary py-2"><i class="fas fa-times" aria-hidden="true"></i> 0%</span>
            {{/incorrect}}
            {{#partial}}
                <span class="badge badge-warning badge-primary py-2"><i class="far fa-circle" aria-hidden="true"></i> {{partial}}%</span>
            {{/partial}}
            {{^path_only}}
            <button type="button" class="btn btn-danger clear-table">Clear All Inputs</button>
            {{/path_only}}
        </div>
    {{/is_material}}
</div>
{{/question}}

{{#submission}}
{{#error}}
<span >
    {{#parse_error}}
        {{#label}}<span>{{{label}}}</span>{{/label}}
        {{#raw_submitted_answer}}<code class="user-output-invalid">{{raw_submitted_answer}}</code>{{/raw_submitted_answer}}
        <a
            href="javascript:void(0);"
            role="button"
            class="badge text-danger badge-invalid btn btn-sm btn-secondary small border"
            data-placement="auto"
            data-trigger="focus"
            data-toggle="popover"
            data-html="true"
            title="Format Error"
            tabindex="0"
            data-content="{{parse_error}}"
        > Invalid <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a>
        {{#suffix}}<span>{{suffix}}</span>{{/suffix}}
    {{/parse_error}}
    {{#missing_input}}
        {{#label}}<span>{{{label}}}</span>{{/label}}
        <a href="javascript:void(0);" role="button" class="btn btn-sm btn-secondary small border" data-placement="auto" data-trigger="focus" data-toggle="popover" data-html="true" title="Missing Input" tabindex="0" data-content="There is no submitted value for this field.  This may have happened because the question was changed by course staff after the answer was submitted."> Why <i class="fa fa-question-circle" aria-hidden="true"></i></a>
        {{#suffix}}<span>{{suffix}}</span>{{/suffix}}
    {{/missing_input}}
</span>
{{/error}}
{{#correct}}
<div class="border border-success border-2 rounded-3">
    <p class="text-center"> You got it all correct! </p>
</div>
{{/correct}}
{{^correct}}
<div class="border border-danger border-2 rounded-3">
    <p class="text-center"> {{incorrect_message}} </p>
</div>
{{/correct}}
<div class="t-tbl-block">
    <table class="dp-table rounded-3 overflow-hidden">
        <thead>
            <tr>
                <th></th>
                {{#columns}}
                    <th>{{w_letter}}</th>
                {{/columns}}
            </tr>
        </thead>
        <tbody>
            {{#rows}}
            <tr>
                <td>{{v_letter}}</td>
                {{#data}}
                    <td class="{{#boolean}}{{#first_incorrect}}striped-highlight{{/first_incorrect}}{{^first_incorrect}}highlight-true{{/first_incorrect}}{{/boolean}}{{^boolean}}{{#first_incorrect}}striped-background{{/first_incorrect}}{{^first_incorrect}}highlight-false{{/first_incorrect}}{{/boolean}}">
                        {{value}}
                    </td>
                {{/data}}
            </tr>
            {{/rows}}
        </tbody>
    </table>
    <span class="input-group-append">
        {{#parse_error}}
            <a
                role="button"
                class="btn btn-light border d-flex align-items-center text-danger"
                data-toggle="popover"
                data-html="true"
                title="Format Error"
                data-placement="auto"
                data-trigger="focus"
                tabindex="0"
                data-content="{{parse_error}}"
            >
                <span class="mr-1">Invalid</span> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </a>
        {{/parse_error}}
    </span>
    {{^is_material}}
    <div style="display: flex; flex-direction: column; justify-content: center">
        {{#correct}}
            <span class="badge badge-success badge-primary py-2"><i class="fas fa-check" aria-hidden="true"></i> 100%</span>
        {{/correct}}    
        {{#incorrect}}
            <span class="badge badge-danger badge-primary py-2"><i class="fas fa-times" aria-hidden="true"></i> 0%</span>
        {{/incorrect}}
        {{#partial}}
            <span class="badge badge-warning badge-primary py-2"><i class="far fa-circle" aria-hidden="true"></i> {{partial}}%</span>
        {{/partial}}
    </div>
    {{/is_material}}
</div>
{{/submission}}

{{#answer}}
<div class="t-tbl-block">
    <table class="dp-table rounded-3 overflow-hidden">
        <thead>
            <tr>
                <th></th>
                {{#columns}}
                    <th>{{w_letter}}</th>
                {{/columns}}
            </tr>
        </thead>
        <tbody>
            {{#rows}}
            <tr>
                <td>{{v_letter}}</td>
                {{#data}}
                    <td class="{{#boolean}}highlight-true{{/boolean}}{{^boolean}}highlight-false{{/boolean}}">
                        {{value}}
                    </td>
                {{/data}}
            </tr>
            {{/rows}}
        </tbody>
    </table>
</div>
{{/answer}}